<%- include('./partials/_header') %>
<%- include('./partials/_nav', {login:true}) %>

<!-- Socket io -->
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>

<style>
  /*agregamos cursor de mando a la clase pointer*/
  .pointer{
    cursor: pointer;
  }
  .scrollable-div {
    max-height: 500px; /* Establece el tamaño máximo en píxeles o cualquier otra unidad que desees */
    overflow-y: auto; /* Agrega la barra de desplazamiento vertical automáticamente cuando el contenido excede el tamaño máximo */
    border: 1px solid #ccc; /* Solo con fines de visualización */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
  }
</style>

<div class="container my-5">
  <div class="row">
    <div class="col-md">
      <h3>Chats</h3>
      <!-- Aquí se muestran todos los usuarios -->
      <ul class="list-group pointer" id="list-users">
        <li class="list-group-item">User</li>
        <li class="list-group-item">User</li>
        <li class="list-group-item">User</li>
      </ul>
    </div>
    <div class="col-md">
      <!-- Aquí se muestra la conversacion -->
      <h3>Conversacion</h3>
      <div class="card scrollable-div" id="principal-card-messages">
        <div class="card-body" id="messages-card">
          <!-- No hay mensajes -->
          <p class="text-center text-secondary">No hay mensajes</p>
        </div>
      </div>
      <div class="input-group my-3">
        <input type="hidden" name="userId" id="userId">
        <input type="text" class="form-control" placeholder="Hola..." aria-label="text" aria-describedby="text-to-send" id="text-messageToSend">
        <button class="btn-outline-purple mx-1 btn"><i class="bi bi-send" onclick="sendMessage()"></i></button>
      </div>
    </div>
  </div>
</div>

<script src="/js/chats.js"></script>

<%- include('./partials/_footer') %>