<%- include('./partials/_header') %>
<%- include('./partials/_nav', {login:true}) %>

<link rel="stylesheet" href="/css/home.css">

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4" id="notes-container">
    <div class="col">
      <div class="card text-center" id="create-card" data-bs-toggle="modal" data-bs-target="#createNote-modal">
        <div class="card-body">
          <h3 class="card-title">Crear nota</h3>
          <i class="bi bi-sticky text-purple" style="font-size:8rem"></i>
        </div>
      </div>
    </div>
    <!-- cards -->
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createNote-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crea una nueva nota</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
      </div>
      <div class="modal-body">
        <label for="title" class="form-label">Titulo de la nota</label>
        <input type="text" name="title" id="title" class="form-control">
        <label for="body" class="form-label">Nota:</label>
        <textarea name="body" id="body" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-purple" id="createNote-button">Crear</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>
<%- include('./partials/_footer') %>