<%- include('./partials/_header') %>
<%- include('./partials/_nav', {login:true}) %>

<link rel="stylesheet" href="/css/home.css">
<!-- CDN para editor de MarkDown -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<!-- CDN Marked -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4" id="notes-container">
    <div class="col" id="col-create-card">
      <div class="card text-center" id="create-card" data-bs-toggle="modal" data-bs-target="#createNote-modal">
        <div class="card-body">
          <h3 class="card-title">Crear nota</h3>
          <i class="bi bi-sticky text-purple" style="font-size:8rem"></i>
        </div>
      </div>
    </div>
    <!-- cards -->
  </div>
</div>

<!-- Modal create -->
<div class="modal fade" id="createNote-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crea una nueva nota</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
      </div>
      <div class="modal-body">
        <label for="title" class="form-label">Titulo de la nota</label>
        <input type="text" name="title" id="title" class="form-control">
        <label for="tag" class="form-label">Etiquetas</label>
        <input type="text" class="form-control" id="tags" placeholder="importante, urgente, necesario">
        <label for="body" class="form-label">Nota:</label>
        <textarea name="body" id="body" cols="30" rows="10" class="form-control"></textarea>
        <div class="form-check form-switch my-2">
          <input class="form-check-input" type="checkbox" role="switch" id="isPublicCreate">
          <label class="form-check-label" for="isPublicCreate">es publica</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-purple" id="createNote-button">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editNote-modal" tabindex="-1" aria-labelledby="editNote" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editNote">Editar nota</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close-edit"></button>
      </div>
      <div class="modal-body">
        <label for="title" class="form-label">Titulo de la nota</label>
        <input type="text" name="title-edit" id="title-edit" class="form-control">
        <label for="tags-edit" class="form-label">Etiquetas</label>
        <input type="text" class="form-control" placeholder="importante, urgente, necesario" id="tags-edit">
        <label for="body" class="form-label">Nota:</label>
        <textarea name="body-edit" id="body-edit" cols="30" rows="10" class="form-control"></textarea>
        <input type="hidden" name="noteId-edit" id="noteId-edit">
        <div class="form-check form-switch my-2">
          <input class="form-check-input" type="checkbox" role="switch" id="isPublicEdit">
          <label class="form-check-label" for="isPublicEdit">es publica</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-purple" id="editNote-button">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>
<%- include('./partials/_footer') %>