<%- include('./partials/_header') %>

  <%- include('./partials/_nav', {login:false}) %>

    <div class="container my-5">
      <div class="row my-5">
        <div class="col-md d-flex justify-content-center">
          <img src="/img/u1.png" alt="usuario" class="principal-image">
        </div>
        <div class="col-md">
          <h1 class="text-center">NotesApp</h1>
          <p>
            Es una herramienta completa y adaptable que te permite capturar y
            organizar tus ideas de manera eficiente.<br><br>
            No más pérdida de tiempo buscando
            entre montones de notas; nuestra aplicación simplifica el proceso y pone el
            conocimiento al alcance de tus manos de forma instantánea.
          </p>
        </div>
      </div>
      <!-- Cards -->
      <div class="row my-5 row-cols-1 row-cols-md-3 g-4">
        <div class="col-lg">
          <div class="card mx-auto" style="width: 18rem; height: 100%;">
            <img src="/img/u2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rapido</h5>
              <p class="card-text">Crea notas de forma rapida y sencilla con una buena experiencia de usuario.</p>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card mx-auto" style="width: 18rem; height: 100%;">
            <img src="/img/u3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Seguro</h5>
              <p class="card-text">Mantén tu información segura y privada, solo para ti.</p>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card mx-auto" style="width: 18rem; height: 100%;">
            <img src="/img/u4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Compartible</h5>
              <p class="card-text">Comparte tus notas con el resto de usuarios y aprende de ellos.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
<%- include('./partials/_footer') %>