<%- include('./partials/_header') %>

  <%- include('./partials/_nav', {login:false}) %>

    <div class="container my-5">
      <div class="row my-5">
        <div class="col-md d-flex justify-content-center">
          <img src="/img/u1.png" alt="usuario" class="principal-image">
        </div>
        <div class="col-md">
          <h1 class="text-center">NotesApp</h1>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, sint ea perspiciatis, nihil hic explicabo consequuntur illum nisi deleniti harum enim quibusdam expedita commodi sapiente et pariatur! Quia, eos. Voluptates!</p>
        </div>
      </div>
      <!-- Cards -->
      <div class="row my-5 row-cols-1 row-cols-md-3 g-4">
        <div class="col-lg">
          <div class="card mx-auto" style="width: 18rem; height: 100%;">
            <img src="/img/u2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hola mundo en python</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-purple">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card mx-auto" style="width: 18rem; height: 100%;">
            <img src="/img/u3.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hola mundo en java</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-purple">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="card mx-auto" style="width: 18rem; height: 100%;">
            <img src="/img/u4.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hola mundo en c</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-purple">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
<%- include('./partials/_footer') %>