<%- include('./partials/_header') %>
<%- include('./partials/_nav', {login:false}) %>

<div class="container my-5">
  <div class="row">
    <div class="col-md">
      <form class="card shadow" action="/login" method="post">
        <div class="card-header text-center">
          <h4 class="title">Inicio de sesion</h4>
        </div>
        <div class="card-body my-4">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="example@email.com" value="prueba@email.com">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" value="password">
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-purple w-100 my-2" id="login-button">Iniciar sesion</button>
          <p>¿No tiene cuenta? <a href="/register" class="">Registrate</a></p>
          <p><a href="/recoverAccount" class="">Recuperar contraseña</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>

<%- include('./partials/_footer') %>