<%- include('./partials/_header') %>

  <%- include('./partials/_nav', {login:false}) %>

<!-- CDN Marked -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <div class="container my-5">
      <div class="row row-cols-1 row-cols-md-3 g-4" id="notes-container">
        <!-- cards -->
      </div>
    </div>

    <script src="/js/publicNotes.js"></script>
  
<%- include('./partials/_footer') %>