<%- include('./partials/_header') %>
<%- include('./partials/_nav', {login:false}) %>

<div class="container my-5">
  <div class="row">
    <div class="col-md">
      <div class="card shadow">
        <div class="card-header text-center">
          <h4 class="title">Recuperar cuenta</h4>
        </div>
        <div class="card-body my-4">
          <label for="email" class="form-label">Correo electronico</label>
          <input type="email" class="form-control mb-2" id="email" name="email" placeholder="example@email.com">
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-purple w-100 my-2" id="sendCode-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar código</button>
          <a href="/login" class="">Regresar</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese el código de verificacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label for="code">Ingrese el código que se le ha enviado a su correo</label>
        <input type="text" class="form-control mb-2" id="code" name="code" placeholder="123456">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="verify-button">Comprobar</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/recoverAccount.js"></script>

<%- include('./partials/_footer') %>